<!-- app/resources/books/views/intermediate_view_all_covers.jl.html -->
<h1>Bill's Gates top $( length(bookdbs) ) recommended books with cover pictures</h1>
<ul>
  <% for_each(bookdbs) do bookdb %>

    <li> <img src='$( isempty(bookdb.cover) ? "img/genie/docs.png" : bookdb.cover )' width="100px" /> $(bookdb.title) by
      $(bookdb.author)</li>



    <!-- OK -->
    <li><img src="/img/genie/docs.png" width="100px"> </img> </li>

    <!-- OK    -->
    <li><img src="../img/genie/docs.png" width="100px"> </img> </li>

    <!-- OK    -->
    <li> $(bookdb.title) by $(bookdb.author) </li>

    <!-- OK    -->
    <li> $( isempty(bookdb.cover) ? " EMPTY " : " FULL " ) </li>

    <!-- OK  -->
    <li><img src="/img/genie/docs.png" width="100px"> </img> $(bookdb.title) by $(bookdb.author) </li>

    <!-- OK  -->
    <li> <img src='$("/" * bookdb.cover )' width="100px"> </img> $(bookdb.title) by $(bookdb.author) </li>

    <!-- OK  -->
    <li> <img src='$("../" * bookdb.cover )' width="100px"> </img> $(bookdb.title) by $(bookdb.author) </li>


    <!-- OK -->
    <li>
      $( isempty(bookdb.cover) ?
      """ "/img/genie/genie.png" """ :
      """ "/img/genie/genie-sad.png" """)
    </li>

    <!-- OK -->
    <li> "/$( isempty(bookdb.cover) ?
      "img/genie/docs.png" :
      (bookdb.cover) )"
    </li>

    <!-- OK -->
    <li> '/$( isempty(bookdb.cover) ?
      "img/genie/docs.png" :
      (bookdb.cover) )'
    </li>



    <!-- KO  -->
    <li>
      <img src=$( isempty(bookdb.cover) ? """ " /img/genie/genie.png" """ :
              """ "/img/genie/genie-sad.png" """)  width=" 100px">
    </li>


    <!-- KO  -->
    <li>
      <img src="/$( isempty(bookdb.cover) ?
                      "img/genie/docs.png" : (bookdb.cover) )" width="100px">
    </li>


    <!-- KO  -->
    <li> <img src='$( isempty(bookdb.cover) ? "../img/genie/docs.png" : "../" * bookdb.cover )' width="100px"> </img>
      $(bookdb.title) by $(bookdb.author)
    </li>

    <!-- KO  -->
    <li> <img src="/$( isempty(bookdb.cover) ? "../img/genie/docs.png" : "../" * bookdb.cover )" width="100px"> </img>
      $(bookdb.title) by $(bookdb.author)
    </li>


    <% end %>




</ul>
